body{
    background-color: rgba(0, 0, 0, 0.986);
    color: aliceblue;
    font-family: "Lobster", sans-serif; 
}

.fade-target {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 600ms ease, transform 600ms ease;
  will-change: opacity, transform;
}


.fade-target.show {
  opacity: 1;
  transform: translateY(0);
}


.container-header {
  opacity: 1 !important;
  transform: none !important;
}

.container-header{
  display: flex;
  flex-direction: row;
  font-family: "Lobster", sans-serif;
  margin-bottom: 50px;
  justify-content: space-between;
  position: sticky;
 top: 0;
  z-index: 1000;
  background-color: #000;
}
.menu{
    word-spacing: 2px;
}
.menu td{

    width: auto;
    height: auto;
    padding-left: 5px;
}
.menu table td {
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;

}
.menu table td a,
.get-in-touch a {
    display: block;
    padding: 10px 20px;
    border: 2px solid #ffffff20;
    background: #000;
    border-radius: 8px;
    transition: all 0.25s ease;
}

.menu table td a:hover,
.get-in-touch a:hover {
    border-color: #ffffff60;
    transform: translateY(-3px) translateX(3px);
    box-shadow: 0px 0px 10px #ffffff20;
}
h2{
      font-family: "Lobster", sans-serif;
      font-size: 30px;
      text-align: center;
     margin-top: 10%;
      margin-bottom: 10%;
          line-height: 5px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 20px;
    color: #000;
    text-align: center;
    align-content: center;
    margin-left:34%;
    box-shadow: 0px 11px 32px -7px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 11px 32px -7px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 11px 32px -7px rgba(255,255,255,0.75);
border: 2px double #ffffff;
border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
}
h1 {
    font-family: "Lobster", sans-serif;
    font-size: 28px;
    text-align: right;
    padding-right: 3%;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.4;
}

p {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    text-align: right;
    padding-right: 3%;
    margin-bottom: 25px;
    line-height: 2px;
    max-width: 800px;

}
hr{
background: #ffffff;
background: linear-gradient(90deg,#ffffff 0%, #000000 80%);
background: -webkit-linear-gradient(90deg,#ffffff 0%, #000000 80%);
background: -moz-linear-gradient(90deg,#ffffff 0%, #000000 80%);
width: 95%;
height: 1px;
}
.hr{
margin-top: 100px;
background: #ffffff;
background: linear-gradient(90deg,#ffffff 0%, #000000 80%);
background: -webkit-linear-gradient(90deg,#ffffff 0%, #000000 80%);
background: -moz-linear-gradient(90deg,#ffffff 0%, #000000 80%);
width: 100%;
height: 1px;
}

.footer{
  display: flex;
    flex-direction: row;
    font-family: "Lobster", sans-serif; 
}
#all-lists{
     display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 500px;
    margin-top: 40px;
}

#imgs{

    display: flex;
    flex-direction: row;
    gap: 10px;
   
}
#imgs img{
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.links h1{
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: left;
}
.links p{
    font-size: 10px;
     font-family: "Lobster", sans-serif; 
     text-align: left;
}
@media (max-width: 992px) {
a{
    font-size: 20px;
}
h2{
    margin-left: 250px;
    font-size: 20px;
    padding: 15px;
    width: fit-content;
}
    #all-lists{
     display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 90px;
    margin-top: 10px;
}
#all-lists h1{
font-size: 20px;
}
#all-lists li{
font-size: 15px;
}
}
@media (max-width: 768px) {
li a{
font-size: 20px;
}
p{
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 10px;
}
h2{
    margin-left: 10%;
    font-size: 17px;
    padding: 15px;
    width: fit-content;
}
.container-header{
  margin-bottom: 40px;
}
.menu{
    word-spacing: 1px;
}
.menu td{
    width: auto;
    height: auto;
    padding-left: 2px;
}
.menu table td {
    margin-right: 5px;
}
a{
    font-size: 10px;
}
.menu table td a,
.get-in-touch a {
    display: block;
    padding: 5px 10px;
}
#all-lists{
     display: flex;
    flex-direction: column;
    gap: 0%;
    margin-left: 100px;
    margin-top: 20px;
}
#all-lists h1{
font-size: 20px;
}
#all-lists li{
font-size: 15px;
}
#all-lists ul{
list-style: none;
    padding: 0;
    margin: 0;
}
.links h1{
    margin-top: 50px;
    margin-bottom: 5px;
}
#imgs{
    display: flex;
    flex-direction: column;
    gap: 20px;
   margin-left: 20px;
}
#imgs img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
}