<div class="header-wrapper">
  <header class="container-header fade-hero">
    <div class="name">REMOX</div>
    <nav class="menu">
      <ul>
        <li><a class="nav-links" data-page="skills"> مهارات</a></li>
        <li><a class="nav-links" data-page="projects">پروژه ها</a></li>
        <li><a class="nav-links" data-page="about">درباره من</a></li>
        <li><a class="nav-links" data-page="home">خانه</a></li>
      </ul>
    </nav>
    <div class="get-in-touch">
      <a class="nav-links" data-page="contact">تماس با من</a>
    </div>
  </header>
  <main class="short-info">
    <h1 class="fade-hero">REMOX</h1>
    <h2 class="fade-hero">برنامه نویس فول استک</h2>
    <h3 class="fade-hero">رویا های شما را</h3>
    <h3 id="h3" class="fade-hero">تبدیل به کد میکنیم</h3>
  </main>
</div>
