<div class="header-wrapper">
  <header class="container-header fade-hero">
    <div class="name">REMOX</div>
    <nav class="menu">
      <ul>
        <li><a class="nav-links" data-page="skills"> مهارات</a></li>
        <li><a class="nav-links" data-page="contact">تماس با من</a></li>
        <li><a class="nav-links" data-page="projects">پروژه ها</a></li>
        <li><a class="nav-links" data-page="about">درباره من</a></li>
        <li><a class="nav-links" data-page="home">خانه</a></li>
      </ul>
    </nav>
    <div class="availability available">
      <div class="status-dot"></div>
      <div class="content"></div>
      <a href="https://t.me/Remox_4" class="btn"> درخواست همکاری </a>
    </div>
  </header>
</div>
