.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s;
}
.menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 15px;
}

.menu a {
  display: block;
  padding: 10px 20px;
  border: 2px solid #ffffff20;
  border-radius: 8px;
  transition: 0.25s ease-in-out;
  font-size: 16px;
  position: relative;
}
.menu a:hover {
  border-color: #ffffff60;
  transform: translate(3px, -3px);
  box-shadow: 0 0 10px #ffffff20;
}
.availability {
  padding: 0 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
}
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: 1.5s infinite pulse;
}
.availability .btn {
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: bolder;
  transition: 0.3s;
  border: none;
  font-size: 0.8rem;
}
.availability .btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 10px #000;
}
.available .status-dot {
  background: #166608;
  box-shadow: 0 0 12px #0d7e0f;
}
.available .btn {
  background: #1b680e;
  color: #fff;
}
.busy .status-dot {
  background: #e53935;
  box-shadow: 0 0 12px #e53935;
}
.busy .btn {
  background: #e53935;
  color: #fff;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }
}
