#resume,
.form.active,
.main,
.tabs {
  display: flex;
}
.header-wrapper {
  background: url("../../image/hero bg/heso\ section\ gtn\(1\).png")
    center/cover no-repeat fixed;
}
.main {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.container {
  background: #070809;
  padding: 30px;
  border-radius: 16px;
  width: 80%;
  border: 2px double #868484;
  box-shadow: 0 11px 32px -7px #757575;
}
.tabs {
  margin-bottom: 50px;
  gap: 10px;
  justify-content: center;
}
.tab {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #000;
  border: 2px solid #fff;
  color: #525252;
}
.tab.active {
  border-bottom: 2px solid #ff006a;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0 5px 20px #520022;
}
#login button,
input,
textarea {
  text-align: center;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
  background-color: #111;
  border: 3px solid #000;
  color: rgba(255, 255, 255, 0.901);
  font-size: 15px;
  border-radius: 30px;
}
#login button:active,
#login button:hover,
input:hover,
textarea:hover {
  border: 3px solid #ff006a;
}
textarea {
  padding: 40px 0;
  line-height: 25px;
}
input:focus,
textarea:focus {
  border: 3px solid #ff006a;
  outline: 0;
  box-shadow: 0 10px 20px 0 #4a001f;
}
#login button {
  width: 20%;
}
#login button:active {
  background-color: #22000e;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 10px 20px 0 #4a001f;
}
#resume {
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin: 40px 0;
  flex-wrap: wrap;
}
.resume-e,
.resume-f,
.sharayet {
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 20px;
  border-radius: 10%;
}
.resume-e:hover,
.resume-f:hover,
.sharayet:hover {
  background-color: #1d1d1d;
  transform: scale(1.1);
  transition: 0.25s;
}
.resume-e img,
.resume-f img,
.sharayet img {
  border-radius: 10%;
}
.resume-e a,
.resume-f a,
.sharayet a {
  font-size: 15px;
  margin: 15px auto;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #242424;
}
.resume-e a:hover,
.resume-f a:hover,
.sharayet a:hover {
  background-color: #ff2116;
  transform: scale(1.1);
  transition: 0.25s;
  box-shadow: 0 1px 10px -1px #575757;
}
.form {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.register-inside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px 0;
}
.col,
.row {
  display: flex;
}
.contact-box {
  background-color: #111;
  text-align: center;
  padding: 20px 60px;
  border: 5px solid #3b001900;
  border-radius: 20px;
  margin: 0 20px;
  line-height: 25px;
}
.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.col {
  flex-direction: column;
}
.contact-box img {
  border-radius: 50%;
  width: 100px;
  box-shadow: 0 0 20px 0 #ff006a;
}
.contact-box p {
  font-size: 25px;
  font-family: Lobster, sans-serif;
  color: #fff;
}
.contact-box a {
  padding: 10px 20%;
  border-radius: 15px;
  background-color: #1f1e1e;
  font-size: 20px;
  border: 3px solid #69002c00;
}
.contact-box a:hover {
  transform: translateX(3px);
  transition: 0.25s;
  border: 3px solid #69002c;
  box-shadow: 0 -3px 15px 1px #69002c;
}
.contact-box:hover {
  transform: translate(-3px);
  transition: 0.25s;
  border: 5px solid #000;
  box-shadow: 0 0 20px 5px #40004f;
}
@media (max-width: 980px) {
  .register-inside {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .contact-box {
    padding: 20px 10px;
    border-radius: 20px;
  }
  .contact-box label,
  .contact-box p {
    font-size: 15px;
  }
  .contact-box a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  #resume {
    gap: 20px;
    flex-wrap: wrap;
  }
  #login button:active,
  .contact-box p,
  .tab {
    font-size: 15px;
  }
  #login button {
    width: 40%;
  }
  .register-inside {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .contact-box {
    padding: 20px 10px;
    border-radius: 20px;
  }
  .contact-box img {
    width: 70px;
  }
  .contact-box a {
    font-size: 10px;
  }
}
